In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Iris.csv")

In [3]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
data.shape

(150, 6)

In [11]:
data[["Species"]].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [13]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [16]:
x = data.iloc[:,1:5]
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [17]:
y = data.iloc[:,-1]
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
model = StandardScaler()

In [23]:
x = model.fit_transform(x)

In [27]:
x[:5]

array([[-0.90068117,  1.03205722, -1.3412724 , -1.31297673],
       [-1.14301691, -0.1249576 , -1.3412724 , -1.31297673],
       [-1.38535265,  0.33784833, -1.39813811, -1.31297673],
       [-1.50652052,  0.10644536, -1.2844067 , -1.31297673],
       [-1.02184904,  1.26346019, -1.3412724 , -1.31297673]])

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [30]:
x_train.shape

(120, 4)

In [35]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=1)
model.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=1)

In [36]:
pred_result = model.predict(x_test)

In [39]:
pred_result[0:5]

array(['Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa'], dtype=object)

In [40]:
y_test[0:5]

105     Iris-virginica
92     Iris-versicolor
61     Iris-versicolor
101     Iris-virginica
40         Iris-setosa
Name: Species, dtype: object

In [43]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,pred_result)
accuracy

0.9

In [49]:
from sklearn.metrics import confusion_matrix
accuracy = confusion_matrix(y_test,pred_result)
accuracy

array([[ 6,  0,  0],
       [ 0,  7,  1],
       [ 0,  2, 14]], dtype=int64)

In [57]:
table = pd.DataFrame(data=[y_test.values,pred_result],index=['Real','Prediction'])
table.transpose()

               Real       Prediction
0    Iris-virginica   Iris-virginica
1   Iris-versicolor  Iris-versicolor
2   Iris-versicolor  Iris-versicolor
3    Iris-virginica   Iris-virginica
4       Iris-setosa      Iris-setosa
5    Iris-virginica   Iris-virginica
6       Iris-setosa      Iris-setosa
7    Iris-virginica   Iris-virginica
8       Iris-setosa      Iris-setosa
9   Iris-versicolor  Iris-versicolor
10   Iris-virginica   Iris-virginica
11  Iris-versicolor  Iris-versicolor
12  Iris-versicolor  Iris-versicolor
13   Iris-virginica  Iris-versicolor
14   Iris-virginica   Iris-virginica
15   Iris-virginica   Iris-virginica
16   Iris-virginica   Iris-virginica
17   Iris-virginica   Iris-virginica
18   Iris-virginica  Iris-versicolor
19  Iris-versicolor   Iris-virginica
20  Iris-versicolor  Iris-versicolor
21      Iris-setosa      Iris-setosa
22   Iris-virginica   Iris-virginica
23   Iris-virginica   Iris-virginica
24      Iris-setosa      Iris-setosa
25   Iris-virginica   Iris-virginica
26      Iris-setosa      Iris-setosa
27   Iris-virginica   Iris-virginica
28   Iris-virginica   Iris-virginica
29  Iris-versicolor  Iris-versicolor

In [66]:
total_correct_predictions=[]
for i in range(20):
    model = KNeighborsClassifier(n_neighbors = i)
    model.fit(x_train,y_train)
    pred = model.predict(x_test)
    correct =np.sum(pred==y_test)
    total_correct_predictions.append(correct)

InvalidParameterError: The 'n_neighbors' parameter of KNeighborsClassifier must be an int in the range [1, inf) or None. Got 0 instead.

In [60]:
total_correct_predictions

[27, 27, 29, 28, 29, 28, 28, 28, 28, 28, 28, 28, 29, 28, 28, 28, 28, 28, 28]